name: Test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  
jobs:  
  build:  
    runs-on: ubuntu-latest  
    strategy:  
      matrix:  
        python-version: ["3.10"]  
  
    steps:  
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}  
        uses: actions/setup-python@v4  
        with:  
          python-version: ${{ matrix.python-version }}  
          
      - name: Install dependencies  
        run: |  
          python -m pip install --upgrade pip  
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi  

      - name: wemake-python-styleguide
        uses: wemake-services/wemake-python-styleguide@0.19.2
            
      - name: Test with pytest  
        run: |  
          coverage run -m pytest  -v -s  

      - name: Generate Coverage Report  
        run: |  
          coverage report -m          
            